requests==2.31.0
pillow==10.0.1
opencv-python==4.8.1.78
moviepy==1.0.3
huggingface-hub==0.17.3
transformers==4.35.2
torch==2.1.1
diffusers==0.23.1
elevenlabs==0.2.26
gtts==2.4.0
gradio==3.50.2
numpy==1.24.3
imageio==2.33.1
imageio-ffmpeg==0.5.1
tqdm==4.66.4
accelerate==0.24.1
safetensors==0.4.2
pydub==0.25.1